

    body{
        background-color: black;
        padding: 0px;
        margin: 0px;
        font-family: raleway, sans-serif;;
        color: white;
    }

    .header1{
        grid-area: header1;
        color: rgb(255, 255, 255);
        font-size: 4em;
        font-family: Raleway;
        font-weight: 600;
        padding-top: 60px;
        text-align: left;
        padding-left: 50px;
        text-shadow: 5px 5px 15px rgb(0, 0, 0);
    }
    
    #title{
        color:rgb(197, 197, 197);
        font-size: 1.2em;
        padding-bottom: 5px;
    }
    #tools{
        color: rgb(182, 97, 136);

    }

    .select{
        grid-area: select;
       font-size: 1.3em;
       font-family: raleway;
        font-weight: 400;
        color: rgb(216, 216, 216);
        line-height: 1;
        text-align: center;
        border-bottom: solid rgb(255, 255, 255) 1px;
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
        padding: 30px;


   }

    .header-container{
        background-image: url("../images/bgheader1.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-areas: 
        'header1 header1 header1'
        'select select select'
    }

    #heavy{
        font-size: 1.1em;
        font-weight: 600;
    }

    .opening{
        color: rgb(223, 223, 223);
        font-size: 1em;
        font-family: Raleway;
        font-weight: 300;
        text-align: left;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 50px;
        line-height: 1.4;
        border-bottom: 1px white solid;
    }

    .topnav{
        text-align: right;
        font-family: raleway;
        color: white;
        background-color: black;
        height: 40px;
        margin: 0px;
        padding: 5px;
        padding-right: 20px;
        padding-top: 20px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.1;
    }

    /* -------------WEBPAGES, POSTERS, DIGITAL SKETCHES or ARTWORKS -------------*/


    /* webpages sections: image/vid + desc + color scheme + notes */
    .webpages-container{
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-areas:
        'header header'
        'image1 desc1'
        'image2 desc2'
        'image3 desc3'
        'image4 desc4';
        
        /*will add color desc below if needed*/
        
    } 

    .color1{
        grid-area: color1;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
        .image1-container{
            padding: 10px;
            margin-left: 30px;
            margin-bottom: 80px;
            box-shadow: 7px 7px 20px rgb(82, 81, 81);
            border: 1px solid rgb(102, 102, 102);
            border-radius: 20px;
            display: grid;
            grid-template-columns: 45% 45% 10%;
            grid-template-areas: 
            'scrn scrn scrn'
            'mock1 mock2 color1';
        }
        .image2-container{
            padding: 10px;
            margin-left: 30px;
            margin-bottom: 80px;
            box-shadow: 7px 7px 20px rgb(82, 81, 81);
            border: 1px solid rgb(102, 102, 102);
            border-radius: 20px;
            display: grid;
            grid-template-columns: 45% 45% 10%;
            grid-template-areas: 
            'scrn1 scrn1 scrn1'
            'mock3 mock4 color1';
        }
        .image3-container{
            padding: 10px;
            margin-left: 30px;
            margin-bottom: 80px;
            box-shadow: 7px 7px 20px rgb(82, 81, 81);
            border: 1px solid rgb(102, 102, 102);
            border-radius: 20px;
            display: grid;
            grid-template-columns: 45% 45% 10%;
            grid-template-areas: 
            'scrn2 scrn2 scrn2'
            'mock5 mock6 color1';
        }
        .image4-container{
            padding: 10px;
            margin-left: 30px;
            margin-bottom: 80px;
            box-shadow: 7px 7px 20px rgb(82, 81, 81);
            border: 1px solid rgb(102, 102, 102);
            border-radius: 20px;
            display: grid;
            grid-template-columns: 47% 42% 11%;
            grid-template-areas: 
            'scrn3 scrn3 scrn3'
            'mock7 mock8 color1'
            'mock9 mock9 mock9';
        }


    .header{
        grid-area: header;
        padding: 10px;
    }
    .image1{
        grid-area: image1;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
    .image2{
        grid-area: image2;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
    .image3{
        grid-area: image3;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
    .image4{
        grid-area: image4;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
    .desc1{
        grid-area: desc1;
        padding: 5px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 10px;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
    .desc2{
        grid-area: desc2;
        padding: 5px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 10px;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
    .desc3{
        grid-area: desc3;
        padding: 5px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 10px;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
    .desc4{
        grid-area: desc4;
        padding: 5px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 10px;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
    /*----------------*/
    .scrn{
        grid-area: scrn;
        padding: 10px;
        padding-bottom: 0px;
    }
    .mock1{
        grid-area: mock1;
        padding: 10px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .mock2{
        grid-area: mock2;
        padding: 10px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    /*----*/
    .scrn1{
        grid-area: scrn1;
        padding: 10px;
    }
    .mock3{
        grid-area: mock3;
        padding: 10px;
    }
    .mock4{
        grid-area: mock4;
        padding: 10px;
        padding-bottom: 10px;
    }
    /*----*/
    .scrn2{
        grid-area: scrn2;
        padding: 10px;
    }
    .mock5{
        grid-area: mock5;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .mock6{
        grid-area: mock6;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    /*----*/
    .scrn3{
        grid-area: scrn3;
        padding: 10px;
    }
    .mock7{
        grid-area: mock7;
        padding: 10px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .mock8{
        grid-area: mock8;
        padding: 10px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .mock9{
        grid-area: mock9;
        padding: 10px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }


    
    /* posters sections: desc + purpose */
    .posters-container{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-areas:
        'header header header header header'
        'poster1 poster2 poster3 poster4 poster6';
        /*will add color desc below if needed*/
    }

    .poster1{
        grid-area: poster1;
        padding: 10px;
        padding-left: 50px;
    }
    .poster2{
        grid-area: poster2;
        padding: 10px;
    }
    .poster3{
        grid-area: poster3;
        padding: 10px;
    }
    .poster4{
        grid-area: poster4;
        padding: 10px;
    }

    .poster6{
        grid-area: poster6;
        padding: 10px;
        padding-right: 50px;
    }

    /* medium or content for digital sketches */
    .digi-container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
        'header header header header'
        'sketch1 sketch2 sketch3 sketch4';
        /*will add color desc below if needed*/
    }

    .sketch1{
        grid-area: sketch1;
    }
    .sketch2{
        grid-area: sketch2;
    }
    .sketch3{
        grid-area: sketch3;
    }
    .sketch4{
        grid-area: sketch4;
    }
    
    .sketch1, .sketch2, .sketch3, .sketch4{
        padding: 10px;
    }


    h2{
        font-family: raleway;
        font-weight: 600;
        padding: 10px;
        margin: 0px;
        font-size: 1.3em;
        padding-top: 0;
    }/*desc*/

    h3{
        font-family: raleway;
        font-weight: 300;
        padding: 10px;
        margin: 0px;
        font-size: 0.8em;
        line-height: 1.4;
        text-align: left;
    }/*text*/

    h4{
        font-family: raleway;
        font-weight: 400;
        padding: 10px;
        margin: 0px;
        font-size: 1em;
        text-align: left;
    }/*notes*/

    img{
        object-fit: contain;
        border: none;
        outline: none;
        margin: 0;
        width: 100%;
    }

    h1{
        font-family: homemade apple;
        font-size: 1.4em;
        padding: 5px;
        text-align: center;
        padding-left: 50px;
        margin: 0px;
        color: rgb(207, 207, 207); 
        outline: none;
        font-weight: 300;
    }


    #scrnshot{
        padding: 10px;

    }

    #mockup{
        padding: 10px;
        border-radius: 10px;
        
    }

    #poster-img{
        padding: 10px;
    }

    #poster-img1{
        padding: 10px;
    }

    #color-img{
        padding: 20px;
        padding-bottom: 0;

    }


/*-----------------------------*/

a:link {
       color: white;
       text-decoration: none;
  
   }

   a:visited {
       color: rgb(255, 255, 255);
       text-decoration: none;

   }

   a:hover {
       color: rgb(138, 138, 138);
       text-decoration: underline;

   }

   a:active {
       color: rgb(255, 255, 255);
       text-decoration: none;
   }

